.hidden {
  display: none !important;
}

.selected {
  background-color: grey;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: rgb(25,20,20);
  background: linear-gradient(180deg, rgba(25,20,20,0.927608543417367) 21%, rgba(31,212,95,1) 100%);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.login-header {
  color: white;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

input {
  border: none;
  border-radius: 10px;
  background: rgb(25,20,20);
  color: white;
  padding: 15px 80px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin: 20px 20px 0px 20px;
}

.register-toggle {
  margin-top: 1rem !important;
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  position: relative;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 20px 0px 20px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type=text], input[type=password]:placeholder {
  color: #cccccc;
}

input[type=submit] {
  margin: 20px 20px 0px 20px;
}

form i {
  position: absolute;
  right: 70px;
  top: 135px;
  cursor: pointer;
}

.columns {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 90%;
}

.playlists {
  width: 25%;
  height: 100%;
  border: 2px solid black;
}

.selected-playlist {
  width: 50%;
  height: 100%;
  border: 2px solid black;
}

.actions {
  width: 25%;
  height: 100%;
  border: 2px solid black;
}

.column-header {
  padding-top: 50px;
  height: 10%;
  margin-bottom: 0;
}

.list-group{
  margin-bottom: 10px;
  overflow:scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: 90%;
}

.list-group-item {
  color: black;
  cursor: pointer;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  border: 2px solid black;
}

.current-song {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.comment-button {
  width: 100px;
}

.player-controls {
  margin-right: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.current-playlist {
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.buttons {
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  width: 20%;
}

ion-icon {
  cursor: pointer; 
  font-size: 64px !important;
}

.comment-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.song-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.comments {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  color: white;
}

.album-wrapper {
  position: relative;
  width: 40%;
  padding-bottom: 40%;
  overflow: hidden;
  margin-bottom: 30px;
}

.album-cover {
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0;
}

.comment-item {
  display: flex;
  width: 80%;
  flex-direction: row;
  cursor: default !important;
}

.comment-input-wrapper {
  width: 80%;
  margin-top: 20px;
}

.submit-comment {
  margin-top: 5px;
}

.follow {
  cursor: pointer;
  padding-right: 5px;
}